.clock {
    width: 300px;
    padding: 30px;
    border-radius: 40px;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    color: #fff;
    margin: 12px auto 20px;
    background-image: linear-gradient(0deg, #03a9f4, #00bcd4);
}